header {
  display: flex;
  align-items: center;
  gap: 12px;

  .header-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
  }

  & span {
    font: var(--heading-sm);
    color: var(--text-heading);
  }
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}