input,
textarea,
select {
  background-color: var(--input-base);
  appearance: none;
  width: 100%;
  border-radius: 8px;
  border: 2px solid transparent;
  outline: 1px solid var(--input-stroke);

  padding: 12px 16px;

  font: var(--body-md);
  color: var(--text-body);
}

textarea {
  resize: none;
}

label {
  font: var(--body-sm);
  color: var(--text-body);
}

input:focus,
textarea:focus,
select:focus {
  outline: 1px solid var(--input-stroke);
  border-color: #59B2FF;
  outline-offset: .1px;
}

.about .flex {
  gap: 12px;
}
