form {
  margin-top: 20px;
}

fieldset {
  border: none;

  display: grid;
  gap: 1rem;
  width: 100%;
}

legend {
  font: var(--body-sm);
  color: var(--text-body);
}

fieldset + fieldset {
  margin-top: 3rem;
}
