form {
  margin-top: 20px;
}

fieldset {
  border: none;

  display: grid;
  gap: 1rem;
}

legend {
  font: var(--body-sm);
  color: var(--text-body);
}

fieldset + fieldset {
  margin-top: 3rem;
}

.about > header {
  display: flex;
  align-items: center;
  gap: 12px;

  .header-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
  }

  & span {
    font: var(--heading-sm);
    color: var(--text-heading);
  }
}