#app {
  margin: 80px 80px 0 80px;
  display: grid;
  grid-template-columns: 33.87% 62.13%;
  height: 100vh;
  width: 100%;
  max-width: 1280px;
}

aside {
  padding: 20px;
  height: 768px;
  background-color: var(--shape-background);
  border-radius: 20px;

  & .aside-container {
    background-image: url(../assets/Background.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 728px;
    width: 400px;
    border-radius: 12px;

    & .brand-title {
      display: flex;
      flex-direction: column;
      gap: 16px;
      padding: 32px;

      & img {
        width: 45.85px;
        height: 48px;
      }

      & .title-text {
        display: flex;
        flex-direction: column;
        gap: 4px;

        & h1 {
          font: var(--logo);
          color: #FF598B;
        }

        & p {
          font: var(--body-md);
          color: var(--text-body);
        }
      }
    }

  }
}