main {
  padding: 0 20px;
  height: 768px;
  overflow-y: auto;
  background-color: var(--shape-background);
  border-radius: 0 20px 20px 0;
  
  & .main-container {
    padding-block: 20px;
  }

  & .invite-container {
    overflow-y: visible;
    border-radius: 12px;
    background-color: var(--shape-body);
    padding: 80px 130px;
  }
}

.invite-container > h2 {
  font: var(--heading-md);
  color: var(--text-heading);
}
